%% Common project erlang options.
{erl_opts, [
    % mandatory
    debug_info,
    warnings_as_errors,
    warn_export_all,
    warn_missing_spec,
    warn_untyped_record,
    warn_export_vars,

    % by default
    warn_unused_record,
    warn_bif_clash,
    warn_obsolete_guard,
    warn_unused_vars,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_deprecated_function
]}.

%% Common project dependencies.
{deps, []}.

%% XRef checks
{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    deprecated_functions_calls,
    deprecated_functions
]}.

%% Tests
{cover_enabled, true}.

{profiles, [
    {test, [
        {thrift_compiler_opts, [
            {in_dir, "test"},
            {in_files, ["test.thrift"]},
            {out_erl_dir, "test"},
            {out_hrl_dir, "test"},
            {gen, "erlang:app_prefix=scp"}
        ]},
        {provider_hooks, [
            {pre, [
                {compile, {thrift, compile}},
                {clean, {thrift, clean}}
            ]}
        ]},
        {deps, [
            {lager, "3.2.1"},
            {genlib, {git, "https://github.com/rbkmoney/genlib.git", {branch, "master"}}},
            {woody, {git, "https://github.com/rbkmoney/woody_erlang.git", {branch, "master"}}}
        ]},
        {dialyzer, [
            {warnings, [
                % mandatory
                unmatched_returns,
                error_handling,
                race_conditions,
                unknown
            ]},
            {plt_apps, all_deps},
            {plt_extra_apps, [
                lager,
                woody,
                genlib,
                snowflake,
                common_test,
                public_key
            ]}
        ]}
    ]}
]}.

{plugins, [
    {rebar3_thrift_compiler, {git, "https://github.com/rbkmoney/rebar3_thrift_compiler.git", {tag, "0.3.1"}}},
    {erlfmt, "0.8.0"}
]}.

{erlfmt, [
    {print_width, 120},
    {files, "{src,include,test}/*.{hrl,erl}"}
]}.
